/* dummy */
.dummy {
    height: 300px;
    background-color: #eee;
}

/* class topics */
.topic-title {
    padding: 60px 0 0;

    font-size: 35px;

    border-top: var(--main-border-set);
}

.bg-topic {
    width: 100%;

    padding: 20px 0 60px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 55px;
    column-gap: 55px;
}

.topic {
    position: relative;

    display: flex;
    width: 100%;
    height: var(--topic-height);

    margin: auto;

    border: var(--main-border-set);
    border-radius: 15px;

    transition: all 0.4s ease-in-out;
}

.topic:hover {
    bottom: 3px;
    right: 3px;

    box-shadow: #64646f33 0px 7px 29px 0px;
}

.topic .topic-img {
    position: absolute;
    left: 0;

    width: 40%;
    height: var(--topic-height);

    background-color: var(--main-color);
    border-radius: 15px;
}

.topic .topic-info {
    position: absolute;
    right: 0;

    width: 60%;
    height: calc(var(--topic-height) - 50px);

    padding: 25px;

    background-color: var(--body-bc);
    border-left: var(--main-border-set);
    border-radius: 15px;
}

.topic .topic-info .topic-name {
    font-size: 20px;
    margin-bottom: 20px;
}

.topic .topic-info .topic-desc li {
    margin-bottom: 10px;
}

.topic .topic-info .topic-desc li span {
    font-weight: bold;
}

.topic .topic-info .categories {
    position: absolute;
    bottom: 20px;
}

.categories .category {
    display: inline-block;

    padding: 0px 10px 6px;
    margin-right: 2px;

    background-color: var(--fir-sub-color);
    border-radius: 5px;
}

.categories .category:nth-child(2) {
    background-color: var(--sec-sub-color);
}

.categories .category:nth-child(3) {
    background-color: var(--thr-sub-color);
}

/* page */
#page {
    margin: auto;
    width: 30%;
    text-align: center;
}

#page a {
    padding: 10px;
    border-radius: 3px;
}

#page strong {
    padding: 10px;
    color: #86b31e;
    background-color: #e8fac3;
    border-radius: 3px;
}
