/* main */
#main {
    margin-bottom: 80px;
}

#main .bc {
    position: absolute;
    background-color: #000a;
    width: 100%;
    height: 245px;
}

/* headline */
#headline {
    position: relative;

    display: grid;
    grid-template-columns: 7fr 3fr;

    width: 100%;
    height: 200px;

    padding: 20px 0 25px;
}

/* topic descr */
#headline .headline {
    width: 90%;
}

#headline .topic-title {
    font-size: 35px;
    color: #ddd;
}

#headline .descr {
    font-size: 17px;
    color: #bbb;
    margin: 5px 0 30px;
}

#headline .elements {
    margin-bottom: 5px;
}

#headline .elements span, .name, .categories {
    color: #ddd;
}

.categories {
    margin-top: 13px;
}

.categories .category {
    display: inline-block;

    padding: 0px 5px 3px;
    margin-right: 5px;

    background-color: #96e6a1cc;
    border-radius: 10px;

    font-size: 13px;
    color: var(--main-font-color);
}

/* topic image */
#headline .topic-image {
    width: 250px;
    height: 200px;
    margin: auto;

    background-color: #fff;
    border-radius: 10px;
}


/* contents */
#contents {
    position: relative;

    display: grid;
    grid-template-columns: 7fr 3fr;

    margin-top: 50px;
}

#contents .content {
    width: 90%;
    min-height: 300px;

    padding: 10px;
    box-sizing: border-box;

    border: var(--main-border-set);
    border-radius: 10px;
}

#contents .subscr-box {
    width: 250px;
    height: 350px;

    margin: auto;
    box-sizing: border-box;

    border: var(--main-border-set);
    border-radius: 10px;

    overflow: hidden;
}

#contents .subscr-box .btn-box {
    display: flex;
    align-items: center;

    height: 80px;
    padding: 20px;
}

#contents .subscr-box .btn-box .subscr {
    display: block;
    width: 100%;
    height: 50px;

    padding: 10px;

    text-align: center;
    font-size: 17px;

    border-radius: 7px;
    border: var(--main-border-set);

    background-color: var(--main-color);
}

#contents .subscr-box .btn-box .subscr:hover {
    background-color: #c5f061;
    cursor: pointer;
}

#contents .subscr-box .subs {
    background-color: #d4fc79aa;
    padding: 20px;
    height: 70%;
}

#contents .subscr-box .subs li {
    margin-bottom: 5px;
    color: #555;
}