<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="header container">
    <div class="logo"><a href="../index/index.html">STAMILY</a></div>
    <div class="input-box">
        <form action="#" method="get" name="search-form" id="search-form">
            <input type="text" id="search-text" name="search-text" placeholder="검색할 방과후명을 작성해주세요">
            <button type="submit" id="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
    <div id="mypage">
        <div id="mypage-icon">
            <i class="fa-solid fa-circle-user fa-2x"></i>
        </div>
        <ul id="mypage-more">
            <li><a href="../sign/sign.html">SIGN IN</a></li>
            <hr>
            <li><a href="#">MY PAGE</a></li>
        </ul>
    </div>
</div>
<hr>

<!-- nav -->    
<nav id="nav">
    <div class="nav container">
        <ul>
            <li><a href="../reviews/reviews.html">수강후기 모음</a></li>
            <li><a href="#">menu2</a></li>
            <li><a href="#">menu3</a></li>
            <li><a href="#">menu4</a></li>
        </ul>
    </div>
</nav>
<hr>
